html, body {
  height: 100%;       /* make sure body fills viewport */
  margin: 0;          /* remove default margins */
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

